/* Import Google font - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

.wrapper {
    background-color: aliceblue;
    height: 550px;
}

    .wrapper header {
        display: flex;
        align-items: center;
        padding: 25px 30px 10px;
        justify-content: space-between;
    }

header .icons {
    display: flex;
}

    header .icons span {
        height: 30px;
        width: 30px;
        margin: 0 1px;
        cursor: pointer;
        color: #878787;
        text-align: center;
        line-height: 30px;
        font-size: 1.9rem;
        user-select: none;
        border-radius: 50%;
    }

.icons span:last-child {
    margin-right: -10px;
}

header .icons span:hover {
    background: #f2f2f2;
}

header .current-date {
    font-size: 1.45rem;
    font-weight: 500;
}

.calendar {
    padding: 20px;
}

    .calendar ul {
        display: flex;
        list-style: none;
        text-align: center;
    }

    .calendar .days {
        margin-bottom: 20px;
    }

    .calendar li {
        color: #333;
        width: calc(100% / 7);
        font-size: 1.07rem;
    }

    .calendar .weeks li {
        font-weight: 500;
        cursor: default;
    }

    .calendar .days li {
        z-index: 1;
        cursor: pointer;
        position: relative;
        margin-top: 30px;
    }

.days li.inactive {
    color: #aaa;
}

.days li.active {
    color: #fff;
}

.days li::before {
    position: absolute;
    content: "";
    left: 50%;
    top: 50%;
    height: 40px;
    width: 40px;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
}

.days li.active::before {
    background-color: #0558A5;
}

.days li:not(.active):hover::before {
    background-color: #CADDF0;
}

.container {
    max-width: 90%;
    padding: 10px;
}



.modal-header,
.modal-footer {
    padding: 10px;
    background-color: #f2f2f2;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.modal-content {
    text-align: center;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

form {
    display: grid;
    gap: 10px;
    margin-top: 20px;
}

    form label {
        display: block;
        font-weight: bold;
    }

    form input,
    form textarea {
        width: 100%;
        padding: 8px;
        box-sizing: border-box;
    }

    form .half-width {
        width: 48%;
    }

.blue-card {
    background-color: aliceblue;
    border: none;
    box-shadow: 0 5px 5px 2px rgba(5, 80, 160, 0.5);
}
.time {
    margin: 0;
    padding: 0;
    font-size: 2.4rem;
    font-weight: bold;
    color: #8eb2d7;
}
.date {
    margin-top: -10px;
    font-size: 1.4rem;
    font-weight: bold;
    color: #8eb2d7;
}
.store {
    margin: 0;
    padding: 0;
    font-size: 2.6rem;
    font-weight: bold;
    text-transform: uppercase;
    color: #8eb2d7;
}
.remark {
    margin-top: -10px;
    font-size: 1.2rem;
    font-weight: normal;
    color: #8eb2d7;
}
.files {
    font-size: 1.0rem;
    font-weight: normal;
    color: #8eb2d7;
}
/* Recommended icon sizes */
span.size-20 {
    font-size: 20px;
    font-variation-settings: 'OPSZ' 20;
}

span.size-24 {
    font-size: 24px;
    font-variation-settings: 'OPSZ' 24;
}

span.size-40 {
    font-size: 40px;
    font-variation-settings: 'OPSZ' 40;
}

span.size-48 {
    font-size: 48px;
    font-variation-settings: 'OPSZ' 48;
}